.home {
    min-height : 100vh;
    padding-top: 12rem;
    @include background(home);


    .row {
        @include flex;
        align-items: center;

        .content {
            flex: 1 1 42rem;

            h3 {
                @include fontStyle(6.5rem, $mainColor);
                text-transform: uppercase;
            }
        }

        .image {
            flex       : 1 1 42rem;
            padding-top: 10rem;
            text-align : center;

            img {
                height   : 45rem;
                animation: float 4s linear infinite;
            }
        }

    }

    .image-slider {
        text-align: center;
        padding   : 3rem 0;

        img {
            height: 12rem;
            margin: 12rem .5rem 0;
            cursor: pointer;
            @include borderHover;

            &:hover {
                transform : translateY(-3rem);
                transition: transform .3s linear;
            }
        }
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-8rem);
    }
}