.home {
    min-height         : 100vh;
    padding-top        : 12rem;
    background         : url(../img/home-bg.jpg) no-repeat;
    background-size    : cover;
    background-position: center;


    .row {
        @include flex;
        align-items: center;

        .content {
            flex: 1 1 42rem;

            h3 {
                @include fontStyle(6.5rem, $mainColor);
                text-transform: uppercase;
            }
        }

        .image {
            flex       : 1 1 42rem;
            padding-top: 10rem;
            text-align : center;

            img {
                height   : 45rem;
                border   : 1px dotted rgba(238, 238, 238, .5);
                animation: float 4s linear infinite;
            }
        }

    }

    .image-slider {
        text-align: center;
        padding   : 3rem 0;

        img {
            height       : 12rem;
            margin       : 10rem .5rem 0;
            cursor       : pointer;
            border       : $borderHover;
            border-radius: $borderRadiusHover;

            &:hover {
                transform : translateY(-3rem);
                transition: transform .3s linear;
            }
        }
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-8rem);
    }
}