@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }
}

@media (max-width: 768px) {

    section {
        padding: 2rem;
    }

    #menuBtn {
        display: initial;

        &.barRotate {
            transform: rotate(-90deg);
        }
    }

    .header {
        .navbar {
            position           : absolute;
            top                : 100%;
            left               : 0;
            right              : 0;
            background-color   : #eee;
            // transform       : scaleY(0);
            // transform-origin: top;
            clip-path          : polygon(0 0,
                    100% 0,
                    100% 0,
                    0 0);
            transition: clip-path .2s ease;

            &.userClick {
                // transform: scaleY(1);
                clip-path: polygon(0 0,
                        100% 0,
                        100% 100%,
                        0 100%);
            }

            a {
                display  : block;
                margin   : 0;
                padding  : 1.5rem 2rem;
                font-size: 2.2rem;

                &:hover {
                    background-color: #ddd
                }

                &:hover::after {
                    display: none;
                }
            }
        }
    }

    .home {
        text-align: center;

        .row {
            .content h3 {
                padding-top: 3rem;
                font-size  : 4rem;
            }

            .image img {
                height: 28rem;
            }
        }

        .image-slider img {
            height: 9rem;
            margin: 7rem 1rem 0;
        }
    }

    .heading {
        font-size: 6rem;

        span {
            font-size: 2.2rem;
        }
    }
}

@media (max-width: 450) {
    html {
        font-size: 50%;
    }

    .home .row .image img {
        height: auto;
        width : 100%;
    }

}