@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

/* 26 - Jan - 2022  */
* {
  margin            : 0;
  padding           : 0;
  border            : 0;
  outline           : none;
  list-style        : none;
  text-decoration   : none;
  text-transform    : capitalize;
  box-sizing        : border-box;
  font-family       : 'Poppins', sans-serif;
  transition        : all .1s linear;
  /* user-select    : none; */
}

/*
    100% / 16px = 6.25%
    6.25% == 1px 

    6.25% * 10 = 62.5% 
    62.5% == 10px
*/
html {
  font-size         : 62.5%;
  transition        : font-size .5s linear;
  overflow-x        : hidden;
  scroll-behavior   : smooth;
  scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: #443;
}

section {
  padding      : 2rem 9%;
  margin-bottom: 2rem;
}

section:last-of-type {
  margin-bottom: 0;
}

.heading {
  font-size          : 9rem;
  color              : transparent;
  position           : relative;
  text-align         : center;
  text-transform     : uppercase;
  letter-spacing     : .2rem;
  pointer-events     : none;
  -webkit-text-stroke: 0.05rem #443;
}

.heading span {
  position : absolute;
  top      : 50%;
  left     : 50%;
  width    : 100%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color    : #443;
}

.btn {
  display      : inline-block;
  padding      : .9rem 1.5rem;
  margin       : 1rem 0 0;
  cursor       : pointer;
  background   : none;
  border       : 0.2rem solid #443;
  border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  font-size    : 1.8rem;
  color        : #443;
}

.btn:hover {
  border       : 0.2rem dashed #443;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
}

.header {
  position        : fixed;
  top             : 0;
  left            : 0;
  right           : 0;
  z-index         : 101;
  padding         : 2rem 9%;
  display         : flex;
  align-items     : center;
  justify-content : space-between;
  box-shadow      : 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #FFF;
}

.header .logo {
  font-size: 3rem;
  color    : #443;
}

.header .logo i {
  font-size   : 4rem;
  padding-left: 0.5rem;
}

.header .navbar a {
  margin   : 0 1rem;
  position : relative;
  font-size: 2.4rem;
  color    : #443;
}

.header .navbar a:hover::after {
  content         : "";
  position        : absolute;
  bottom          : -20%;
  left            : 50%;
  width           : 70%;
  transform       : translateX(-50%);
  height          : .3rem;
  background-color: tomato;
}

.header .btn {
  margin-top: 0;
}

#menuBtn {
  display  : none;
  cursor   : pointer;
  font-size: 3rem;
  color    : #443;
}

.home {
  min-height         : 100vh;
  padding-top        : 12rem;
  background         : url(../img/home-bg.jpg) no-repeat;
  background-size    : cover;
  background-position: center;
}

.home .row {
  display    : flex;
  flex-wrap  : wrap;
  gap        : 1.5rem;
  align-items: center;
}

.home .row .content {
  flex: 1 1 42rem;
}

.home .row .content h3 {
  font-size     : 6.5rem;
  color         : #443;
  text-transform: uppercase;
}

.home .row .image {
  flex       : 1 1 42rem;
  padding-top: 10rem;
  text-align : center;
}

.home .row .image img {
  height   : 45rem;
  animation: float 4s linear infinite;
}

.home .image-slider {
  text-align: center;
  padding   : 3rem 0;
}

.home .image-slider img {
  height       : 12rem;
  margin       : 12rem .5rem 0;
  cursor       : pointer;
  border       : 0.2rem dashed #443;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
}

.home .image-slider img:hover {
  transform : translateY(-3rem);
  transition: transform .3s linear;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(-8rem);
  }
}

.about .row {
  display    : flex;
  flex-wrap  : wrap;
  gap        : 1.5rem;
  align-items: center;
}

.about .row .image {
  flex: 1 1 42rem;
}

.about .row .image img {
  width    : 90%;
  animation: aboutImage 4s linear infinite;
}

.about .row .content {
  flex: 1 1 42rem;
}

.about .row .content .title {
  font-size  : 4rem;
  color      : #443;
  line-height: 1.8;
}

.about .row .content p {
  font-size  : 1.5rem;
  color      : #443;
  line-height: 2;
  padding    : 1rem 0;
}

.about .row .content .icons-container {
  display    : flex;
  flex-wrap  : wrap;
  gap        : 1.5rem;
  padding-top: 3rem;
}

.about .row .content .icons-container .icons {
  flex         : 1 1 15rem;
  padding      : 2rem;
  text-align   : center;
  border       : 0.2rem solid #443;
  border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
}

.about .row .content .icons-container .icons img {
  height: 5rem;
}

.about .row .content .icons-container .icons h3 {
  padding-top: 1rem;
  font-size  : 1.7rem;
  color      : #443;
}

@keyframes aboutImage {

  0%,
  100% {
    transform    : scale(0.9);
    border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  }

  50% {
    transform    : scale(0.8);
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  }
}

.menu {
  background         : url(../img/menu-bg.jpg) no-repeat;
  background-size    : cover;
  background-position: center;
}

.menu .box-container {
  display        : flex;
  flex-wrap      : wrap;
  gap            : 1.5rem;
  gap            : 2rem;
  justify-content: center;
  padding-bottom : 8rem;
}

.menu .box-container .box {
  border       : 0.2rem solid #443;
  border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  flex         : 1 1 42rem;
  padding      : 2rem;
  margin-left  : 6rem;
  display      : flex;
  align-items  : center;
  gap          : 1.5rem;
}

.menu .box-container .box:hover {
  border       : 0.2rem dashed #443;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
}

.menu .box-container .box img {
  height     : 8rem;
  margin-left: -6rem;
}

.menu .box-container .box .content h3 {
  font-size  : 2.2rem;
  color      : #443;
  line-height: 1.8;
}

.menu .box-container .box .content p {
  font-size  : 1.6rem;
  color      : #443;
  line-height: 1.8;
  padding    : 1rem 0;
}

.menu .box-container .box .content span {
  font-size  : 2rem;
  color      : #443;
  line-height: 1.8;
  font-weight: bolder;
}

.review .reviews-slider {
  padding: 7rem 0;
}

.review .reviews-slider .box {
  border       : 0.2rem solid #443;
  border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  text-align   : center;
  position     : relative;
  padding      : 2rem;
  z-index      : 0;
}

.review .reviews-slider .box .fa-quote-left,
.review .reviews-slider .box .fa-quote-right {
  position : absolute;
  z-index  : -1;
  font-size: 6rem;
  color    : #CCC;
}

.review .reviews-slider .box .fa-quote-left {
  top : 2rem;
  left: 2rem;
}

.review .reviews-slider .box .fa-quote-right {
  bottom: 2rem;
  right : 2rem;
}

.review .reviews-slider .box:hover .fa-quote-left {
  top: -6.5rem;
}

.review .reviews-slider .box:hover .fa-quote-right {
  bottom: -6.5rem;
}

.review .reviews-slider .box img {
  width        : 7rem;
  height       : 7rem;
  border-radius: 50%;
  margin-bottom: .7rem;
}

.review .reviews-slider .box .stars {
  padding: 0.5rem 0;
}

.review .reviews-slider .box .stars i {
  font-size: 1.7rem;
  color    : #443;
}

.review .reviews-slider .box p {
  font-size  : 1.6rem;
  color      : #443;
  padding    : 1rem 0;
  line-height: 1.8;
}

.review .reviews-slider .box h3 {
  font-size  : 2.2rem;
  color      : #443;
  line-height: 1.8;
}

.review .reviews-slider .box span {
  font-size: 1.5rem;
  color    : #443;
}

.review .reviews-slider .swiper-button-next,
.review .reviews-slider .swiper-button-prev {
  color: #CCC;
}

.review .reviews-slider .swiper-pagination-horizontal {
  font-size: 2rem;
  color    : #443;
}

.book {
  background         : url(../img/book-bg.jpg) no-repeat;
  background-size    : cover;
  background-position: center;
  padding            : 8rem 1rem;
}

.book form {
  border       : 0.2rem solid #443;
  border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  padding      : 4rem;
  margin       : 0 auto 2rem;
  max-width    : 60rem;
}

.book form:hover {
  border       : 0.2rem dashed #443;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
}

.book form .box {
  border        : 0.2rem solid #443;
  border-radius : 95% 4% 97% 5%/4% 94% 3% 95%;
  font-size     : 1.6rem;
  color         : #443;
  width         : 100%;
  padding       : 1rem 1.2rem;
  margin        : .7rem 0;
  background    : none;
  text-transform: none;
  border-radius : .5rem;
}

.book form .box:focus {
  border: 0.2rem dashed #443;
}

.book form textarea {
  height: 15rem;
  resize: none;
}

.footer .box-container {
  display              : grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  gap                  : 2rem;
}

.footer .box-container .box:nth-of-type(3) a:nth-of-type(2) {
  text-transform: lowercase;
}

.footer .box-container .box h3 {
  padding-left: 1rem 0;
  font-size   : 2.5rem;
  color       : #443;
}

.footer .box-container .box a {
  display  : block;
  padding  : .5rem 0;
  font-size: 1.5rem;
  color    : #443;
}

.footer .box-container .box a:hover i {
  padding-right: 1.2rem;
}

.footer .box-container .box a i {
  padding-right: .5rem;
}

.footer .credit {
  text-align: center;
  padding   : 2rem 1rem;
  margin-top: 1rem;
  font-size : 2rem;
  color     : #443;
}

.footer .credit span {
  border-bottom: 0.2rem dashed #443;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  section {
    padding: 2rem;
  }

  #menuBtn {
    display: initial;
  }

  #menuBtn.barRotate {
    transform: rotate(-90deg);
  }

  .header .navbar {
    position        : absolute;
    top             : 100%;
    left            : 0;
    right           : 0;
    background-color: #eee;
    transform       : scaleY(0);
    transform-origin: top;
    transition      : transform .2s ease;
  }

  .header .navbar.userClick {
    transform: scaleY(1);
  }

  .header .navbar a {
    display  : block;
    margin   : 0;
    padding  : 1.5rem 2rem;
    font-size: 2.2rem;
  }

  .header .navbar a:hover {
    background-color: #ddd;
  }

  .header .navbar a:hover::after {
    display: none;
  }

  .home {
    text-align: center;
  }

  .home .row .content h3 {
    padding-top: 3rem;
    font-size  : 4rem;
  }

  .home .row .image img {
    height: 28rem;
  }

  .home .image-slider img {
    height: 9rem;
    margin: 7rem 1rem 0;
  }

  .heading {
    font-size: 6rem;
  }

  .heading span {
    font-size: 2.2rem;
  }

  .menu .box-container .box {
    margin-left: 0;
    margin-top : 6rem;
    flex-flow  : column;
    text-align : center;
  }

  .menu .box-container .box img {
    margin-left: 0;
    margin-top : -6rem;
  }
}

@media (max-width: 450) {
  html {
    font-size: 50%;
  }

  .home .row .image img {
    height: auto;
    width : 100%;
  }
}

/*# sourceMappingURL=style.css.map */